<div class="item mix_row">
    <div class="outer box"><img src="<?php echo 'img/thumb/'.$item['image']; ?>"
                                ALT="<?php echo $item['title'] ?>">
        <div class="ic_caption">
            <h2 class="product-name"><a href="#"
                                        title="<?php echo $item['title'] ?>">"<?php echo $item['title'] ?>"</a>
            </h2>

        </div>
    </div>

</div><div class="actions">
    <button id="<?= $item['id'] ?>" type="button" title="Add to Cart"
            class="button btn-cart"><span> <span>Add to Cart</span> </span>
    </button>
</div>